body {
  background-color: black;
  font-family: 'Merriweather', serif;
}


.profile-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212; /* Dark theme background */
  color: #ffffff; /* White text color for dark theme */
}

/* Centered profile content */
.profile-content {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

/* Profile picture section */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Profile details styling */
.profile-details {
  margin-top: 20px;
}

/* Input fields styling */
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styling */
button {
  padding: 10px 20px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Button hover effects */
button:hover {
  background-color: #ff9d00;
}

/* Products display styling (similar to wishlist items) */
.product-item {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1e1e1e; /* Dark background for product items */
  position: relative;
  height: fit-content;
}

/* Product image styling */
.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px; /* Space between image and details */
}

/* Product details section styling */
.product-details {
  text-align: left;
  flex-grow: 1;
}

.product-details h2 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.product-details p {
  margin: 5px 0;
  font-size: 0.9rem;
}

/* Remove button for product items */
.remove-button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  line-height: 1;
}

.remove-button:hover {
  background-color: red;
}

/* Total price section (aligned to right) */
.total-price {
  text-align: right;
  margin-top: 20px;
}

/* UPI comparison section */
.upi-comparison {
  margin-top: 20px;
}

/* Buy button styling */
.buy-button {
  background-color: #df921c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -20px;
  float: right;
}

/* Buy button hover effects */
.buy-button:hover {
  background: rgb(255, 106, 0);
  color: #050801;
  box-shadow: 0 0 5px rgb(255, 106, 0), 0 0 25px rgb(255, 106, 0),
    0 0 50px rgb(255, 106, 0), 0 0 200px rgb(255, 106, 0);
}

/* Disabled state for buy button */
.buy-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
