/* Navbar Styling */
.Navbar {
  margin-bottom: 60px; 
}

/* Sell Product Container Styling */
.sell-product-container {
  background-color: #000;
  color: #fff;
  background-color: black;
  font-family: 'Merriweather', serif;
  padding: 80px 50px 50px; 
  text-align: center;
  margin-bottom: 30px;
}

.footer{
  font-family: 'Merriweather', serif;
}
.sell-product-container h2 {
  color: #df912c;
  font-size: 40px;
  font-weight: bold;
}

/* Form Container Styling */
.form-container {
  display: flex;
  justify-content: center; /* Horizontally center the form */
  margin-bottom: 30px; /* Adjust as needed */
}

/* Form Group Styling */
.form-group {
  width: 85%;
  max-width: 400px; 
  margin-bottom: 20px; /* Consistent spacing between form groups */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

/* Form Input, Textarea, Select Styling */
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #555; /* Subtle border for better visibility */
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box; 
}

.form-group select {
  -webkit-appearance: none; /* For Chrome/Safari */
  -moz-appearance: none; /* For Firefox */
  appearance: none;
  background-image: url('path/to/dropdown-arrow.svg'); /* Add a dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust position as needed */
  padding-right: 30px; /* Add space for the arrow */
}

.form-group input[type="file"] {
  padding: 10px; 
}

/* Submit Button Styling */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #df912c;
  border: none;
  color: #fff;
  border-radius: 5px; /* Add rounded corners to the button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button[type="submit"]:hover {
  background-color: #ffae42;
}